h1, h2, h3, h4, h5, h6 {
	all: revert;
}

body,
.dropdown-menu {
	background-color: #15141A;
	/* Fondo general */
	color: #eff0f1;
	/* Texto general */
}

a {
	color: #54a3d8;
}

/* Enlaces */
.social {
	padding: 0%;
	margin: 0%;
	font-size: 1.2em;
}

.panel-body>small,
/* Texto descripción episodios en portada */
#search-query {
	/* Texto dentro del buscador */
	color: black;
}

/* https://web.dev/color-contrast/?utm_source=lighthouse&utm_medium=devtools */

.center-pills {
	display: inline-block;
}

/* Texto Nombre Podcast */
.navbar-default .navbar-brand {
	color: #8AB1F4;
}

/* Texto Navegación a la derecha */
.navbar-default .navbar-nav>li>a {
	color: #8AB1F4;
	font-size: 1.5em;
}

.navbar-toggle {
	margin-bottom: 0%;
}

.row .logo {
	display: block;
	width: 40%;
	height: 40%;
	max-width: 500px;
}

#list_desc {
	color: #8AB1F4;
	font-size: 1.18em;
	text-align: center;
}

.panel-title {
	color: #155C8E;
	font-size: 1.18em;
}

/* Fecha en principal */
.post-meta>small {
	color: #7D4E0C;
}

/* Fecha y autor en single.html */
.post-meta {
	color: #CBAE7C;
}

li ul {
	margin-bottom: 11px;
}

.pagination {
	display: flex;
	justify-content: center;
}

.pagination > .active > a {
	color: #000000;
}

/* Pager se usa en los single/articulos
.pager > .active > a,
.pager > .active > span,
.pager > .active > a:hover,
.pager > .active > span:hover,
.pager > .active > a:focus,
.pager > .active > span:focus {
	z-index: 3;
	color: #155C8E;
	cursor: default;
	background-color: #fcf9f4;
	border-color: #54a3d8;
}

.pager {
	color: #155C8E ;
/ *font-size: 1.5em; * /
}

.pager>li>a, .pager>li>span {
	padding: 6px 15px;
	color: #155C8E ;
/*line-height: 1.9; * /
}
*/

footer {
	background-color: #155C8E;
	color: #ffffff;
	/* Texto en el footer */
	font-size: 18px;
}

footer a {
	color: #ffffff;
	/* Enlaces en el footer */
	font-size: 24px;
}

details {
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
}

summary {
	/*font-weight: bold;*/
	color: #54a3d8;
	cursor: pointer;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
	display: inline-block;
	content: '▶️';
}

/* Create a new custom triangle on the right side */
summary::after {
	margin-left: 1ch;
	display: inline-block;
	content: '▶️';
	transition: 0.2s;
}
details[open]>summary::after {
	transform: rotate(90deg);
}
/* Fin triangulo */

details[open] {
	padding: 0.5em;
	border: 1px solid #aaa;
	animation: animateDown 0.4s linear forwards;
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;

}

@keyframes animateDown {
	0% {
		opacity: 0;
		transform: translatey(-15px);
	}

	100% {
		opacity: 1;
		transform: translatey(0);
	}
}

#vtt {
	color: yellow;
	font-size: 1.4em;
}

.persons {
	width: 100%;
	max-height: 150px;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	.person {
		margin-right: 30px;
		margin-bottom: 10px;
		flex: 1;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		line-height:95%;
		.photo {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			margin-bottom: 5px;
			object-fit: cover;
		}
		.name {
			font-size: 14px;
			text-align: center;
		}
		.role {
			font-size: 14px;
			text-align: center;
		}
	}
}
.persons::after {
	content: "";
	clear: both;
	display: table;
}

mastodon-comments {
	--comment-indent: 15px;
	--comment-padding: 5px;
}


/* Espacio entre articulo y comentarios */
article.post {
    margin-bottom: 2em;
}


/* https://web.dev/articles/optimize-cls?hl=es-419#modern_best_practice_for_setting_image_dimensions 
img {
	height: auto;
	width: 100%;
	}
*/

/*
https://brightside.me/article/the-ultimate-color-combinations-cheat-sheet-92405/
*/
