//@import url("https://api.fonts.coollabs.io/css?family=Raleway:400,700");

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
/*
@import
        "bootstrap-readable",
        "layout",
        "custom",
        "syntax-highlighting"
;
*/

// https://github.com/thomaspark/bootswatch/
//@import "bootswatch/litera/variables";
//@import "bootstrap/scss/bootstrap";
//@import "bootswatch/litera/bootswatch";

$web-font-path: "" !default;
// https://github.com/thomaspark/bootswatch/tree/v3
@import "bootswatch/readable-341/variables";
@import "bootstrap/stylesheets/bootstrap";
@import "bootswatch/readable-341/bootswatch";
@import "layout";
@import "custom";