<div class="row visible-md-block visible-lg-block" id="logo-svg">
    <a href="/" class="logo"><img src="/images/logo-plano.svg"
            alt="Podcast Linux. Para los amantes del Software Libre"></a>
</div>