{{ define "main" }}

<div class="home">
  <div class="row pack">
    {{- $paginator := .Paginate .Data.Pages }}
    {{- range $paginator.Pages }}
    <div class="col-md-4 card">
      <a href="{{ .Permalink }}" class="index-anchor">
        <div class="panel panel-default">
        {{- if .Params.img }}
          {{- with .Resources.Match .Params.img }}
          {{- range . }}
          <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
          {{- end }}
          {{- else }}
          <img src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ or .Params.imgALT .Title }}">
          {{- end }}
          {{- else }}
          <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}" alt="{{ .Site.Params.defaultImageALT }}">
          {{- end }}
          <div class="panel-body">
            <h2 class="panel-title pull-left">{{ .Title | truncate 25 }}</h2><span
              class="post-meta pull-right"><small>{{ if .Site.Params.date_format }} {{ .Date.Format
                .Site.Params.date_format }} {{else}} {{ .Date.Format "January 2, 2006" }} {{end}}</small></span>
          </div>
          <div class="panel-body"><small>
              {{ .Summary | plainify | truncate 180 }}</small>
          </div>
        </div>
      </a>
    </div>
    {{- end }}
  </div>

  <div class="row">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
      {{- if gt .Paginator.TotalPages 1 }}
      <ul class="pagination">
        {{- if .Paginator.HasPrev }}
        <li><a href="{{ .Paginator.Prev.URL }}">&laquo; Prev</a></li>
        {{- else }}
        <li><span>&laquo; Prev</span></li>
        {{- end }}
        {{- $scratch := newScratch }}
        {{- $scratch.Set "current" .Paginator.PageNumber }}
          {{- range .Paginator.Pagers }}
            {{- if eq .PageNumber ($scratch.Get "current") }}
        <li class="active"><span><em>{{ .PageNumber }}</em></span></li>
            {{- else }}
        <li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
            {{- end }}
        {{- end }}
        {{- if .Paginator.HasNext }}
        <li><a href="{{ .Paginator.Next.URL }}">Next &raquo;</a></li>
        {{- else }}
        <li><span>Next &raquo;</span></li>
        {{- end }}
      </ul>
      {{- end }}
    </div>
    <div class="col-md-4"> </div>
  </div>
</div>
{{- end }}